venv
downloads/*
cookies.txt
.DS_Store
data/*
metadata/*
**/data/*
**/metadata/*
.env
__pycache__
metadata/*
mfa/*
diarized_data/*
transcription_data/*
temp_chunks
mfa_temp
results
temp_turns
*.pem
is_overlap
tmp
elevenlabs_results
elevenlabs_results_temp
turns
final_results
audio_segments
api_inspection
*.log